<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td colspan="5">
                <a th:href="@{/users/save}" class="btn btn-info">New</a>
            </td>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="3">No users</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}">manju</td>
            <td th:text="${user.username}">manju</td>
            <td th:text="${user.userType}">manju</td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-success">Edit</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>