<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Hello World</h1>
    <p>A project to bootstrap Spring based projects. In this project, most common Spring modules have been integrated.</p>
    <ul>
        <li>Spring 4.3</li>
        <li>Spring Boot 1.5.9.RELEASE</li>
        <li>Spring Data JPA</li>
        <li>Spring Web</li>
        <li>Spring Security 4.2.3.RELEASE</li>
        <li>Spring Logging</li>
        <li>Spring AOP</li>
        <li>Hibernate 5</li>
        <li>Thymeleaf 3</li>
        <li>Thymeleaf Layout</li>
        <li>Thymeleaf Security</li>
        <li>H2</li>
        <li>Lombok</li>
    </ul>
</div>
</body>
</html>